
@media (min-width: 1400px){

}
@media (min-width: 1200px) and (max-width: 1399.98px){

}
@media (min-width: 992px) and (max-width: 1199.98px){
    
}
@media (min-width: 768px) and (max-width: 991.98px){
    
}
@media (min-width: 576px) and (max-width: 767.98px){
    
}
@media (max-width: 575.98px)   {
#main-menu {
padding-top: 0;
padding-left: 5px;
    
}
.navbar-collapse {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 
.primary-btn{
  width: 80px;
  font-size: 12px;
  padding: 8px;
  border-radius: 12px;
 
}
.secondary-btn{
  padding: 8px 10px;
  font-size: 12px;
}
/* ==================banner Start============================== */

.banner-content h1 {
    font-size: 60px;
    line-height: 60px;
}
.banner-row {
    padding-top: 10px;
}
.banner-content p{
  font-size: 16px;
  margin-top: 0;
}
.card {
    width: 200px;
    padding: 5px;
}
.banner-card .card{
    margin-top: 10px;
}
.card p {
    padding: 5px 7px;
    top: 10px;
    left: 10px;
}
.card-heading {
    font-size: 16px;
    margin-bottom: 0;
}
.card span {
    font-size: 10px;
    font-weight: 400;
}
.banner-card .card:nth-child(2){
    transform: rotate(5deg);
}
.banner-card .card:nth-child(3){
    transform: rotate(15deg);
}
/* ==================banner End============================== */
/* ===================blog Section Strat=================== */

.tittle {
    font-size: 28px;
    margin-bottom: 0;
}
.blog-wrapper .card-large {
    padding: 0;
    margin: auto;
    margin-top: 5px;
}
.blog-wrapper .card-large h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blog-wrapper .card-large span {
    font-size: 12px;
    margin-bottom: 10px;
}
.row-card-content h3 {
    font-size: 18px;
}
.row-card-content span {
    font-size: 12px;
    margin-top: 10px; 
    margin-bottom: 10px;
    
}

.blog-main{
  padding:  0;
  
}
/* ==========================blog categories */
.categories-item {
    gap: 10px;
}
.categories-item span {
    padding: 10px 10px;
}
#categories {
    margin-bottom: 50px;
}
.tittle {
    font-size: 24px;
    margin-bottom: 20px;
}
/* ===============================featured blog====================================== */
#featured-blog .secondary-btn {
    width: 90px;
}
.featured-blog-card .card {
    padding: 5px;
}
.featured-blog-card{
    padding: 5px;
    margin: auto;
}
.featured-blog-card .card p {
    top: 15px;
    left: 15px;
}
/* ==============================community section start */
.community-main{
    max-width: 570px;
    margin-left: auto;
}
.community-content h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.community-card .card {
    margin: 0;
}
.community-content-main{
  padding: 20px 5px;
  max-width: 570px;
  
}
.community-card .card {
    margin: auto;
    
}
#featured-blog {
    margin-bottom: 50px;
}
/* =====================================about Section=========================== */
.about-content h2 {
    line-height: 25px;
}
.about-main {
    gap: 10px;
}
/* .about-img{
  margin: auto;
} */
.about-img img{
  max-width: 130px;
}
.about-content p {
    margin-bottom: 20px;
    margin-top: 20px;
}
#about{
  display: hidden;
}
/* ==============================animation Ssection======================= */
#about {
    padding: 0;
    margin-bottom: 20px;
}
.slide-track img {
    width: 180px;
    height: 180px;
}
.slide-track {
    width: calc(200px * 18);
}
/* =======================footer  section================================== */
.footer-card-1 {
    display: none;
}
.footer-card-2 {
    display: none;
}
.footer-content h3 {
    line-height: 28px;
}
.footer-content {
    padding-top: 30px;
}
.community-input {
    margin-bottom: 25px;
}
.footer-content p {
    padding-bottom: 25px;
}
.footer-last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}